EPOINT_PUBLIC_KEY=i000201454
EPOINT_PRIVATE_KEY=epq7of5tjxaZL1UqJZycYoLB

SUCCESS_URL=https://you-lush.com/success
ERROR_URL=https://you-lush.com/error

RESULT_URL=https://your-project.vercel.app/api/callback
